.row-4-pictures-x3 {
  display: grid;
  grid-template-areas: "picture-1 picture-2 picture-3";
  grid-template-columns: 1fr 1fr 2fr;
  grid-area: row-4;
  background-color: #191919;
  justify-items: center;
}

.picture-row-4 {
  width: 97%;
}

.row-4-picture-1 {
  padding-left: 40px;
  height: 439px;
}

.row-4-picture-3 {
  padding-right: 40px;
}

@media (max-width: 766px) {
  .row-4-pictures-x3 {
    /* background-color: red; */
    grid-template-areas:
      "picture-1"
      "picture-2"
      "picture-3";

    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .picture-row-4 {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    /* height: 400px; */
  }
}
