* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.my-main-container {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #191919;
  /* background-color: red; */
}

.row {
  margin-bottom: 40px;
}

.wrapit {
  margin-bottom: 90px;
  height: 100px;
  background-color: #191919;
}

/* @media (max-width: 973px) {
  .my-main-container {
    background-color: red;
  }
} */
